body{
	background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font-family: Helvetica;
}



.sample{
	 object-fit: cover;
    width: 200px;
    height: 200px;
}

.white{
  color: white;
}

a{
  color: white;
}